[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djoser = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
markdown = "*"
django-filter = "*"
drf-spectacular = {extras = ["sidecar"], version = "*"}
python-dotenv = "*"
psycopg2-binary = "*"
pytest = "*"
baker = "*"
model-bakery = "*"
pytest-django = "*"
pytest-cov = "*"
pytest-mock = "*"

[dev-packages]

[requires]
python_version = "3.11"
